# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
/static/admin/
/static/CACHE/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
